body {
    background-color: rgb(218, 230, 255);
    height: 5000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: grey 0px 5px 15px;
    border-radius: 3px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(37, 96, 124);
}

.main-logo {
    margin-left: 25px;
    margin-right: 50px;
    float: left;
    width: 75px;
}